img{
  
  height: 40vh !important;
  width: 100% !important;
}
.cardbody{
  background-color: aqua;
}
/* .carousel-control-prev-icon {
  background-color: black; 
}

.carousel-control-next-icon {
  background-color: black; 
} */

